<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. Blokir akses langsung ke file sensitif (seperti .env, .git, dll)
    RewriteCond %{REQUEST_URI} "!(^|/)\.well-known/([^./]+./?)+$" [NC]
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]

    # 2. Alihkan semua permintaan ke folder public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
